.completion {
  height: 1080px;
  background-color: #e5e5e5;
}

.completion__window {
  position: absolute;
  top: 509px;
  left: 50%;
  transform: translateX(-50%);

  width: 1404px;
}

.completion__title {
  padding-bottom: 32px;

  color: white;
  font-size: 72px;
  line-height: 84px;
  font-weight: bold;
}

.completion__body {
  border: 1px solid #c4c4c4;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25); 
}

.completion__manual {
  background-color: #f4f3f6;
}

.completion__controls {
  background-color: rgba(255, 168, 0, 0.88);
}
