.seats {
  background-color: #e5e5e5;
}

.seats__main {
  display: flex;
  justify-content: space-between;
  padding: 95px 256px 193px 258px;
}

.seats__left {
  width: 360px;
}

.seats__right {
  width: 960px;
}