.trains-list-item {
  display: flex;

  border: 1px solid #c4c4c4;
  background-color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.trains-list-item:not(:first-child) {
  margin-top: 50px;
}

.trains-list-item__left {
  flex-basis: 150px;
  flex-grow: 1;
  background-color: #e4e0e9;
}

.trains-list-item__middle {
  flex-basis: 480px;
}

.trains-list-item__right {
  flex-basis: 283px;
  border-left: 1px dashed #e5e5e5;
}

.trains-list-item__icon-container {
  display: flex;

  width: 86px;
  height: 86px;
  border: 1px solid white;
  border-radius: 50%;
}

.trains-list-item__icon {
  display: block;
  margin: auto;
  fill: white;
}