.no-page {
  padding: 300px 50px 50px 50px;
}

.no-page__title {
  text-align: center;
  font-size: 48px;
  font-weight: 900;
}

.no-page__return-button {
  display: block;
  width: 250px;
  margin: 300px 0 0 auto;
  padding: 17px 0 15px 0;
  border-radius: 5px;

  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #292929;
  background-color: #ffa800;
}