.ticket-search-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;

  width: 730px;
  margin: 0 232px 0 0;
  padding: 0 24px 52px 0;

  background-color: rgba(41, 41, 41, 0.8);
}

.ticket-search-form_run {
  width: 1490px;
  margin: 115px auto 0 auto;
  padding: 0 45px 79px 0;
  background-color: rgba(41, 41, 41, 0.69);
}

.ticket-search-form__label {
  font-size: 30px;
  line-height: 35px;
  font-weight: 300;
  color: white;
}

.ticket-search-form__label:nth-of-type(1) {
  margin-top: 84px;
}

.ticket-search-form__label:nth-of-type(2) {
  margin-top: 61px;
}

.ticket-search-form__label_run:nth-of-type(1) {
  margin-top: 28px;
}

.ticket-search-form__label_run:nth-of-type(2) {
  margin-top: 28px;
  margin-left: 36px;
}

.ticket-search-form__input {
  display: block;
  width: 323px;
  margin-top: 15px;
  padding: 19px 70px 20px 21px;
  border-radius: 3px;

  font-size: 18px;
  line-height: 21px;
  color: #292929;
  background-color: white;
}

.ticket-search-form__input:nth-of-type(2) {
  margin-left: 36px;
}

.ticket-search-form__input::placeholder {
  color: #e5e5e5;
}

.ticket-search-form__button-invert {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0 6px 18px 6px;
}

.ticket-search-form__button {
  display: block;
  width: 323px;
  margin-top: 97px;
  padding: 16px 0;
  border-radius: 5px;
  text-align: center;

  font-size: 24px;
  line-height: 28px;
  font-weight: bold;

  text-transform: uppercase;
  color: #292929;
  background-color: #ffa800;
}

.ticket-search-form__button_run {
  margin-top: 47px;
}