.header {
  height: 985px;
  background-image: url("./Header.png");
}

.header_run {
  height: 595px;
  background-image: url("./Header_run.png");
}

.header_completion {
  height: 835px;
  background-image: url("./Header_completion.png");
}