.date-input__input {
  display: block;
  width: 100%;
  padding: 19px 70px 20px 21px;
  border-radius: 3px;

  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: #292929;
  background-color: white;
}

.date-input__input::placeholder {
  color: #e5e5e5;
}

.date-input__input_mini {
  padding: 11px 56px 11px 8px;
}

.date-input__input_disabled {
  background-color: #c4c4c4;
}

.date-input__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}

.date-input__button-icon {
  display: block;
}