.footer {
  color: white;
  background-color: #2d2b2f;
}

.footer__anchor {
  display: block;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.footer__full {
  display: flex;
  padding: 50px 0 52px 343px;
  border-bottom: 1px solid #e5e5e5;
}

.footer__subscription {
  margin-left: 250px;
}

.footer__reduced {
  display: flex;
  align-items: center;
  padding: 22px 0 33px 256px;
}

.footer__logo {
  color: #e5e5e5;
  font-size: 36px;
  line-height: 42px;
  font-weight: 900;  
}

.footer__button-collapse {
  width: 36px;
  height: 36px;
  margin-left: 599px;
  padding: 0 0 3px 3px;
  border: 1px solid #e5e5e5;
  border-radius: 50%;

  color: #e5e5e5;
  font-size: 14px;
  font-weight: 700;

  transform: rotate(135deg);
}

.footer__button-collapse_collapsed {
  transform: rotate(-45deg);
}

.footer__copyright {
  margin-left: 574px; 
  color: #e5e5e5;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300; 
  text-transform: uppercase;
}