* {
  margin: 0;
  padding: 0;
  border: none;
  color: black;
  font: inherit;
  background-color: transparent; 
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

#root {
  width: 1920px;
  margin: 0 auto; 
  background-color: #ffffff;
}
