* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  color: black;
  font: inherit;
  background-color: transparent; 
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

a {
  text-decoration: none;
}

#root {
  width: 1920px;
  margin: 0 auto; 
  background-color: white;
}
